---
layout: page
title: Thoughts
permalink: /thoughts/
---
<p class="page-lede">
  Short, half-baked notes: quotes, questions, things I'm chewing on.
</p>

<ul class="thought-list">
  {% for post in site.posts %}
    {% if post.categories contains "thoughts" %}
      <li class="thought">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <div class="thought-body">{{ post.content }}</div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
